<template>
  <div>
      <div class="ctrls">
        <div class="ctrl-tonic" @click="$emit('ctrl-tonic-click')">
          <p>{{ getNoteWithAltName() }}</p>
        </div>
        <div class="ctrl-scale" @click="$emit('ctrl-scale-click')">
          <p>{{ selectedScale }}</p>
        </div>
      </div>

  </div>
</template>

<script>

export default {
  name: "CtrlsMain",
  props: ["selectedRoot", "selectedAlt", "selectedScale"],
  methods: {
    getNoteWithAltName: function() {
      let formatedName = this.selectedRoot

      if (this.selectedAlt === "flat") {
        formatedName = formatedName + "b"
      } else if (this.selectedAlt === "sharp") {
        formatedName = formatedName + "#"
      }

      return formatedName
    }
  }
}

</script>

<style scoped>
  .ctrls {
    display: flex;
    background-color: var(--ctrls-bg-color);
    width: var(--main-w);
  }

  .ctrls .ctrl-tonic {
    display: flex;
    flex: 1;
    background-color: var(--ctrls-bg-color);
    color: white;
  }

  .ctrls .ctrl-tonic > p {
    margin: calc(var(--main-h) / 6) auto;
  }

  .ctrls .ctrl-tonic:hover {
    cursor: default;
    background-color: var(--ctrls-bg-color-hover);
  }

  .ctrls .ctrl-alter {
    display: flex;
    flex: 1;
    color: white;
  }

  .ctrls .ctrl-alter > p {
    margin: auto;
  }

  .ctrls .ctrl-alter:hover {
    cursor: default;
    background-color: var(--ctrls-bg-color-hover);
  }

  .ctrls .ctrl-scale {
    display: flex;
    flex: 1;
    color: white;
  }

  .ctrls .ctrl-scale > p {
    margin: auto;
  }

  .ctrls .ctrl-scale:hover {
    cursor: default;
    background-color: var(--ctrls-bg-color-hover);
  }

  @media only screen and (max-width: 800px) {
    .ctrls .ctrl-tonic > p {
      margin: calc(var(--main-h) / 12) auto;
    }
  }

  @media only screen and (max-height: 400px) {
    .ctrls .ctrl-tonic > p {
      margin: calc(var(--main-h) / 12) auto;
    }
  }
</style>