<template>
  <div class="ctrl-about">
    <p @click="$emit('ctrl-about-click')">about</p>
  </div>
</template>

<script>

export default {
  name: "CtrlsAbout",
}

</script>

<style scoped>
  .ctrl-about > p {
    font-size: 0.8em;
    width: 6em;
    color: silver;
    border: 1px solid silver;
    text-align: center;
    padding: 0.75em;
    margin-left: 1em;
    filter: opacity(33%);
  }

  .ctrl-about > p:hover {
    filter: opacity(100%);
  }
</style>