<template>
  <div class="fretboard-contain">
    <div class="fretboard">
      <div>
        <FretboardRow
          :config="this.config"
          startingNote="E"
          lowestSound="24"
          strIndex="0"/>
      </div>
      <div>
        <FretboardRow
          :config="this.config"
          startingNote="B"
          lowestSound="19"
          strIndex="1"/>
      </div>
      <div>
        <FretboardRow
          :config="this.config"
          startingNote="G"
          lowestSound="15"
          strIndex="2"/>
      </div>
      <div>
        <FretboardRow
          :config="this.config"
          startingNote="D"
          lowestSound="10"
          strIndex="3"/>
      </div>
      <div>
        <FretboardRow
          :config="this.config"
          startingNote="A"
          lowestSound="05"
          strIndex="4"/>
      </div>
      <div>
        <FretboardRow
          :config="this.config"
          startingNote="E"
          lowestSound="00"
          strIndex="5"/>
      </div>
    </div>
  </div>
</template>

<script>
import FretboardRow from './FretboardRow'

export default {
  name: 'Fretboard',

  props: ["config"],

  components: {
    FretboardRow,
  }
}
</script>

<style scoped>
  .fretboard-contain {
    display: flex;
    justify-content: center;
    background-color: var(--fretboard-border-color);
    width: var(--main-w);
    height: var(--main-h);
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .fretboard {
    --fretb-w: calc(var(--main-w) - var(--fretboard-border-size));
    --fretb-h: calc(var(--main-h) - var(--fretboard-border-size));
    width: var(--fretb-w);
    height: var(--fretb-h);
    margin: auto;
  }
  @media only screen and (max-width: 600px) {
    .fretboard-contain {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  @media only screen and (max-height: 400px) {
    .fretboard-contain {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
</style>
