<template>
  <div
    class="fretboard-cell"
    :class="{ selected: isInScale(), tonic: isTonic(), highlight: isHighlight }"
    @click="onClick">

    <div
      class="note-name"
      v-if="isInScale() && config.showNotes">
        {{ getNoteName() }}
    </div>

    <div
      class="note-name"
      v-else-if="isInScale() && config.showIntervals">
        {{ getIntervName() }}
    </div>

  </div>
</template>

<script>
import { noteFromStr, noteToStr } from '../lib/diatonic.js'
import { intervalToStr, findInterval } from '../lib/diatonic.js'
import { chromaIndexFrom, chordPreset, scalePreset } from '../lib/diatonic.js'
import { EventBus } from '../event-bus.js'

export default {
  name: "FretboardRowCell",

  props: ["config", "index", "strName", "strIndex", "lowestSound"],

  created: function() {
    if (this.config.showNotes && this.config.showIntervals) {
      throw new Error("Both showNotes and showIntervals are set to true")
    }

    EventBus.$on('sound-play', (e) => {
      if (e.strIndex != this.strIndex || e.index != this.index) {
        this.isHighlight = false
      }
    })

    EventBus.$on('sound-end', () => {
      this.isHighlight = false
    })

    EventBus.$on('dehighlight-all', () => {
      this.isHighlight = false
    })
  },

  data: function() {
    return {
      isHighlight: false,
    }
  },

  methods: {
    getScale: function() {
      let startingNote = noteFromStr(this.strName)
      let tonic = this.config.selectedRoot
      let alt = this.config.selectedAlt

      if (alt === "sharp") {
        tonic = tonic + "#"
      } else if (alt === "flat") {
        tonic = tonic + "b"
      }

      let scaleName = this.config.selectedScale

      let scaleSelected = []

      if (!this.config.isChordContext) {
        scaleSelected = scalePreset(noteFromStr(tonic), scaleName)
      } else {
        scaleSelected = chordPreset(noteFromStr(tonic), scaleName)
      }

      return scaleSelected
    },

    getIntervName: function() {
      const scaleSelected = this.getScale()
      const tonic = scaleSelected[0]
      const otherNotes = scaleSelected.slice(1, scaleSelected.length)
      const cellNote = scaleSelected.find(n => noteToStr(n) === this.getNoteName())
      const intervName = intervalToStr(findInterval(tonic, cellNote))

      return intervName === "P1" ? this.getNoteName() : intervName
    },

    getNoteName: function() {
      let startingNote = noteFromStr(this.strName)
      let scaleSelected = this.getScale()
      let noteNames = scaleSelected.map(n => noteToStr(n))
      let notePosOnStr = scaleSelected.map(
        n => chromaIndexFrom(startingNote, n)
      )
      let noteName = ""

      for (let i = 0; i < noteNames.length; i++) {
        if (this.index == notePosOnStr[i]) {
          noteName = noteNames[i]
        }
      }

      return noteName
    },

    isInScale: function() {
      return this.getNoteName() ? true : false
    },

    isTonic: function() {
      let tonic = this.config.selectedRoot
      let alt = this.config.selectedAlt

      if (alt === "sharp") {
        tonic = tonic + "#"
      } else if (alt === "flat") {
        tonic = tonic + "b"
      }

      return tonic === this.getNoteName()
    },

    getSoundId: function() {
      return +this.lowestSound + this.index
    },

    onClick: function() {
      this.isHighlight = !this.isHighlight;
      EventBus.$emit(
        'cell-click', {
          strName: this.strName,
          strIndex: +this.strIndex,
          index: +this.index,
          noteName: this.getNoteName(),
          soundId: this.getSoundId(),
          isHighlight: this.isHighlight
        }
      )
    }
  }
}

</script>

<style scoped>
  .fretboard-cell {
    cursor: default;
    display: flex;
    background-color: var(--cell-bg-color);
    width: calc(var(--fretb-w) / 12);
    height: calc(var(--fretb-h) / 6);
    box-sizing: border-box;
    border: 0.15em solid var(--cell-border-color);
  }

  .fretboard-cell .note-name {
    margin: auto;
    color: var(--cell-txt-color);
  }

  .selected {
    background-color: var(--selected-color);
  }

  .tonic {
    background-color: var(--tonic-bg-color);
  }

  .tonic .note-name {
    color: var(--tonic-txt-color);
  }

  .highlight {
    font-weight: bold;
    filter: brightness(150%);
  }
</style>
