<template>
  <div class="fretboard-row">
    <div v-for="col in columns">
      <FretboardRowCell
        :index="col"
        :config="config"
        :strName="startingNote"
        :strIndex="strIndex"
        :lowestSound="lowestSound"/>
    </div>
  </div>
</template>

<script>
import FretboardRowCell from './FretboardRowCell'

export default {
  name: "FretboardRow",

  props: ["config", "startingNote", "lowestSound", "strIndex"],

  components: {
    FretboardRowCell
  },

  data: function() {
    return {
      columns: [0,1,2,3,4,5,6,7,8,9,10,11]
    }
  },
}

</script>

<style scoped>
  .fretboard-row {
    display: flex;
  }
</style>
