<template>
  <div class="modal-settings">
    <a
      class="btn-close delete is-large is-pulled-right"
      @click="$emit('modal-settings-cancel')">
    </a>

    <div class="modal-container">
      <div class="settings-wrapper">
        <div class="columns is-mobile is-centered">
          <div class="contain-title column">
            <h3 class="subtitle is-3">Settings</h3>
          </div>
        </div>

        <div class="columns is-mobile is-vcentered">
          <div class="column">
            <h4 class="subtitle">Theme</h4>
          </div>
          <div class="column">
            <div class="select is-pulled-right">
              <select v-model="themeChoice">
                <option>electric</option>
                <option>modern</option>
                <option>wood</option>
              </select>
            </div>
          </div>
        </div>

        <div class="columns is-mobile is-vcentered" @click="soundChoice = !soundChoice">
          <div class="column">
            <h4 class="subtitle">Sound</h4>
          </div>
          <div class="column">
            <input
              class="is-pulled-right"
              v-model="soundChoice"
              type="checkbox"/>
          </div>
        </div>

        <div class="columns is-mobile is-vcentered" @click="showIntervals = !showIntervals">
          <div class="column">
            <h4 class="subtitle">Interval names</h4>
          </div>
          <div class="column">
            <input
              class="is-pulled-right"
              v-model="showIntervals"
              type="checkbox"/>
          </div>
        </div>


        <div class="columns is-mobile is-centered">
          <input
            class="button btn-validate"
            type="button"
            value="OK"
            @click="onValidate"/>
        </div>

      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "ModalSettings",
  props: ["themeChoicePrev", "soundChoicePrev", "showIntervalsPrev"],
  data: function() {
    return {
      themeChoice: this.themeChoicePrev,
      soundChoice: this.soundChoicePrev,
      showIntervals: this.showIntervalsPrev
    }
  },
  methods: {
    onValidate: function() {
      this.$emit(
        'modal-settings-ok', {
          themeChoice: this.themeChoice,
          soundChoice: this.soundChoice,
          showIntervals: this.showIntervals
        }
      )
    }
  }
}

</script>

<style scoped>
  .modal-settings {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .btn-close {
    position: absolute;
    top: 7%;
    right: 7%;
    border: 2px solid silver;
    z-index: 1;
  }

  .modal-settings > .modal-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 75%;
    background-color: white;
    color: black;
    filter: opacity(100%);
    border: 1px solid silver;
    overflow: auto;
  }

  .settings-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
  }

  .contain-title {
    text-align: center;
    margin-bottom: 1em;
  }

  .btn-validate {
    margin: 2em 0 2em 0;
  }

  @media only screen and (max-width: 768px) {
    .modal-settings > .modal-container {
      width: 90%;
    }

    .btn-close {
      top: 3%;
      right: 2%;
    }

    .settings-wrapper {
      width: 85%;
    }
  }
</style>