<template>
  <div class="modal-about">

    <a
      class="btn-close delete is-large is-pulled-right"
      @click="$emit('modal-about-close')">
    </a>

    <div class="modal-container">

      <div class="content-wrapper">

        <div class="columns is-mobile is-centered">
          <div class="contain-title column">
            <h3 class="subtitle is-3">About</h3>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="column">
            <div class="content">
              <p>
                An <strong>open-source</strong> interactive
                guitar fretboard made by Michael Griseri.</p>
              <h4>Source code:</h4>
              <ul>
                <li>
                  <a
                    href="https://gitlab.com/mgriseri/fretboard-vue">
                      gitlab.com/mgriseri/fretboard-vue
                  </a>
                </li>
                <li>
                  <a
                    href="https://gitlab.com/mgriseri/diatonic-js">
                      gitlab.com/mgriseri/diatonic-js
                  </a>
                </li>
              </ul>

              <h4>Acknowledgments:</h4>
              <ul>
                <li>
                  <a href="https://github.com/truchi">github.com/truchi</a>
                </li>
                <li>
                  <a href="https://vuejs.org/">Vue.js</a>
                </li>
                <li>
                  <a href="https://howlerjs.com/">Howler.js</a>
                </li>
                <li>
                  <a href="https://bulma.io/">Bulma</a>
                </li>
                <li>
                  <a href="https://parceljs.org/">Parcel</a>
                </li>
                <li>
                  <a href="https://mochajs.org/">Mocha</a>
                </li>
                <li>
                  <a href="https://www.chaijs.com/">Chai</a>
                </li>
                <li>
                  <a href="https://nodejs.org/">Node.js</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</template>

<script>
export default {
  name: "ModalAbout",
}

</script>

<style scoped>
  .modal-about {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .btn-close {
    position: absolute;
    top: 7%;
    right: 7%;
    border: 2px solid silver;
    z-index: 1;
  }

  .modal-about > .modal-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 75%;
    background-color: white;
    color: black;
    filter: opacity(100%);
    border: 1px solid silver;
    overflow: auto;
  }

  .content-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
  }

  .contain-title {
    text-align: center;
    margin-bottom: 1em;
  }

  .btn-validate {
    margin: 2em 0 2em 0;
  }

  @media only screen and (max-width: 768px) {
    .modal-about > .modal-container {
      width: 90%;
    }

    .btn-close {
      top: 3%;
      right: 2%;
    }

    .content-wrapper {
      width: 85%;
    }
  }
</style>