<template>
  <div class="select-vert">
    <p
      v-for="item in list"
      @click="$emit('select-vert-click', item)">
        {{ item }}
    </p>
  </div>
</template>

<script>

export default {
  name: "SelectVert",
  props: ["list"],
}

</script>

<style scoped>
  .select-vert {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--select-bg-color);
  }

  .select-vert p {
    margin: 0;
    padding: calc(var(--main-h) / 6);
  }

  .select-vert p:hover {
    cursor: default;
    background-color: var(--select-bg-color-hover);
  }

  @media only screen and (max-width: 800px) {
    .select-vert p {
      padding: calc(var(--main-h) / 12);
    }
  }

  @media only screen and (max-height: 400px) {
    .select-vert p {
      padding: calc(var(--main-h) / 12);
    }
  }
</style>