<template>
  <div class="select-hori">
    <p
      v-for="item in list"
      @click="$emit('select-hori-click', item)">
        {{ item }}
    </p>
  </div>
</template>

<script>

export default {
  name: "SelectHori",
  props: ["list"]
}

</script>

<style scoped>
  .select-hori {
    display: flex;
    background-color: var(--select-bg-color);
    justify-content: space-around;
  }

  .select-hori p {
    flex: 1;
    text-align: center;
    margin: auto;
    padding: calc(var(--main-h) / 6);
  }

  .select-hori p:hover {
    cursor: default;
    background-color: var(--select-bg-color-hover);
  }

  @media only screen and (max-width: 800px) {
    .select-hori p {
      padding: calc(var(--main-h) / 12);
    }
  }

  @media only screen and (max-height: 400px) {
    .select-hori p {
      padding: calc(var(--main-h) / 12);
    }
  }
</style>