<template>
  <div id="app">
    <div class="main no-txt-select" :style="selectedTheme">

      <div>
        <Fretboard
          id="fretboard"
          :config="getFretboardConf()"/>
      </div>

      <div>
        <CtrlsMain
          :selectedRoot="selectedRoot"
          :selectedAlt="selectedAlt"
          :selectedScale="selectedScale"
          v-if="!hideCtrls"
          v-on:ctrl-tonic-click="toggleSelTonic"
          v-on:ctrl-scale-click="toggleSelChordOrScale"/>
      </div>

      <div>
        <SelectHori
          :list="noteList"
          v-if="!hideSelTonic"
          v-on:select-hori-click="function(e) { onTonicSel(e) }"/>
      </div>

      <div>
        <SelectHori
          :list="altList"
          v-if="!hideSelAlt"
          v-on:select-hori-click="function(e) { onAltSel(e) }"/>
      </div>

      <div>
        <SelectHori
          :list="[ 'chords', 'scales' ]"
          v-if="!hideSelChordOrScale"
          v-on:select-hori-click="function(e) { onChordOrScaleSel(e) }"/>
      </div>

      <div>
        <SelectVert
          :list="chordList"
          v-if="!hideSelChord"
          v-on:select-vert-click="function(e) { onChordSel(e) }"/>
      </div>

      <div>
        <SelectVert
          :list="scaleList"
          v-if="!hideSelScale"
          v-on:select-vert-click="function(e) { onScaleSel(e) }"/>
      </div>

      <div class="menu-bottom">
        <div><CtrlsSettings v-on:ctrl-setting-click="hideModalSettings = false"/></div>
        <div><CtrlsAbout v-on:ctrl-about-click="hideModalAbout = false"/></div>
      </div>

      <div>
        <ModalSettings
          :themeChoicePrev="selectedThemeName"
          :soundChoicePrev="isSoundMode"
          :showIntervalsPrev="showIntervals"
          v-if="!hideModalSettings"
          v-on:modal-settings-ok="function(e) { onHideSettings(e) }"
          v-on:modal-settings-cancel="hideModalSettings = true"/>
      </div>

      <div>
        <ModalAbout
          v-if="!hideModalAbout"
          v-on:modal-about-close="hideModalAbout = true"/>
      </div>

    </div>
  </div>
</template>

<script>
import { EventBus } from './event-bus.js'
import { getTheme } from './constants/default-conf.js'
import { getDefaultNotes, getDefaultAlts } from './constants/default-conf.js'
import { getDefaultChords, getDefaultScales } from './constants/default-conf.js'

import Fretboard from './components/Fretboard'
import CtrlsMain from './components/CtrlsMain'
import SelectHori from './components/SelectHori'
import SelectVert from './components/SelectVert'
import CtrlsSettings from './components/CtrlsSettings'
import CtrlsAbout from './components/CtrlsAbout'
import ModalSettings from './components/ModalSettings'
import ModalAbout from './components/ModalAbout'

export default {
  name: 'App',

  components: {
    Fretboard,
    CtrlsMain,
    SelectHori,
    SelectVert,
    CtrlsSettings,
    CtrlsAbout,
    ModalSettings,
    ModalAbout
  },

  created: function() {
    if (localStorage.getItem("themeChoice")) {
      this.selectedThemeName = localStorage.getItem("themeChoice")
      this.selectedTheme = getTheme(this.selectedThemeName)
    }

    if (localStorage.getItem("showIntervals") === "true") {
      this.showIntervals = true
      this.showNotes = false
    }

    if (localStorage.getItem("soundChoice") === "true") {
      this.isSoundMode = true
    } else if (localStorage.getItem("soundChoice") === "false"){
      this.isSoundMode = false
    }

    EventBus.$on('cell-click', e => {
      this.onCellClick(e)
    })

    window.addEventListener('keyup', (e) => {
      if (e.key === "Shift") {
        return
      }

      if (!this.hideSelChord && e.key !== "Enter") {
        this.chordList = [...this.chordList]
          .filter(c => c.toLowerCase().includes(e.key))
      }

      if (!this.hideSelScale && e.key !== "Enter") {
        this.scaleList = [...this.scaleList]
          .filter(s => s.toLowerCase().includes(e.key))
      }

      if (this.scaleList.length === 0 || this.chordList.length === 0) {
        this.setDefaultChords()
        this.setDefaultScales()
      }

      if (!this.hideSelChord && e.key === "Backspace") {
        this.setDefaultChords()
      }

      if (!this.hideSelScale && e.key === "Backspace") {
        this.setDefaultScales()
      }

      if (e.key === "Escape") {
        if (!this.hideModalSettings) {
          this.hideModalSettings = true
        } else if (!this.hideModalAbout) {
          this.hideModalAbout = true
        } else if (this.hideCtrls) {
          this.setDefaultChords()
          this.setDefaultScales()
          this.hideCtrls = false
          this.hideAllSelec()
        } else {
          EventBus.$emit('dehighlight-all')
        }
      }

      if (e.key === "Enter" && !this.hideSelChord && this.chordList.length === 1) {
        this.isChordContext = true
        this.selectedScale = this.chordList[0]
        this.setDefaultChords()
        this.setDefaultScales()
        this.hideCtrls = false
        this.hideAllSelec()
      }

      if (e.key === "Enter" && !this.hideSelScale && this.scaleList.length === 1) {
        this.isChordContext = false
        this.selectedScale = this.scaleList[0]
        this.setDefaultChords()
        this.setDefaultScales()
        this.hideCtrls = false
        this.hideAllSelec()
      }
    })
  },

  data: function() {
    return {
      selectedThemeName: "electric",
      selectedTheme: getTheme("electric"),
      selectedRoot: getDefaultNotes()[0],
      selectedAlt: getDefaultAlts()[1],
      selectedScale: getDefaultScales()[0],
      isChordContext: false,
      showNotes: true,
      showIntervals: false,
      hideCtrls: false,
      hideSelTonic: true,
      hideSelAlt: true,
      hideSelChordOrScale: true,
      hideSelChord: true,
      hideSelScale: true,
      hideModalSettings: true,
      hideModalAbout: true,
      noteList: getDefaultNotes(),
      altList: getDefaultAlts(),
      chordList: getDefaultChords(),
      scaleList: getDefaultScales(),
      lastPlayedSound: null,
      isSoundMode: true
    }
  },

  methods: {
    getFretboardConf: function() {
      return {
        selectedRoot: this.selectedRoot,
        selectedAlt: this.selectedAlt,
        selectedScale: this.selectedScale,
        isChordContext: this.isChordContext,
        showNotes: this.showNotes,
        showIntervals: this.showIntervals,
      }
    },
    setTheme: function(theme) {
      this.selectedThemeName = theme
      this.selectedTheme = getTheme(theme)
    },

    setDefaultChords: function() {
      this.chordList = getDefaultChords()
    },

    setDefaultScales: function() {
      this.scaleList = getDefaultScales()
    },

    hideAllSelec: function() {
      this.hideSelTonic = true
      this.hideSelAlt = true
      this.hideSelChordOrScale = true
      this.hideSelChord = true
      this.hideSelScale = true
    },

    toggleSelTonic: function() {
      this.hideCtrls = true
      this.hideSelTonic = !this.hideSelTonic
    },

    toggleSelAlt: function() {
      this.hideCtrls = true
      this.hideSelAlt = !this.hideSelAlt
    },

    toggleSelChordOrScale: function() {
      this.hideCtrls = true
      this.hideSelChordOrScale = false
    },

    toggleSelScale: function() {
      this.hideCtrls = true
      this.hideSelScale = !this.hideSelScale
    },

    onTonicSel: function(n) {
      this.selectedRoot = n
      this.selectedAlt = "natural"
      this.hideAllSelec()
      this.hideCtrls = false
      this.toggleSelAlt()
    },

    onAltSel: function(a) {
      this.selectedAlt = a
      this.hideAllSelec()
      this.hideCtrls = false
    },

    onChordOrScaleSel: function(choice) {
      this.setDefaultChords()
      this.setDefaultScales()
      if (choice === "scales") {
        this.hideSelChord = true
        this.hideSelScale = false
      } else if (choice === "chords") {
        this.hideSelScale = true
        this.hideSelChord = false
      }
    },

    onChordSel: function(c) {
      this.selectedScale = c
      this.hideAllSelec()
      this.hideCtrls = false
      this.isChordContext = true
      this.setDefaultChords()
      this.setDefaultScales()
    },

    onScaleSel: function(s) {
      this.selectedScale = s
      this.hideAllSelec()
      this.hideCtrls = false
      this.isChordContext = false
      this.setDefaultChords()
      this.setDefaultScales()
    },

    onCellClick: function(e) {
      if (this.isSoundMode) {
        EventBus.$emit('sound-play', e)
      }

      if (this.lastPlayedSound && this.isSoundMode) {
        this.lastPlayedSound.stop()
      }

      if (e.isHighlight && this.isSoundMode) {
        this.lastPlayedSound = this.$sounds[e.soundId]
        this.lastPlayedSound.play()
        this.lastPlayedSound.on('end', function() {
          EventBus.$emit('sound-end', [e.strIndex, e.index])
        })
      }
    },

    onHideSettings: function(e) {
      this.setTheme(e.themeChoice)
      this.isSoundMode = e.soundChoice
      this.hideModalSettings = true
      this.showNotes = !e.showIntervals
      this.showIntervals = e.showIntervals

      localStorage.clear()
      localStorage.setItem("showIntervals", this.showIntervals)
      localStorage.setItem("soundChoice", this.isSoundMode)
      localStorage.setItem("themeChoice", this.selectedThemeName)
    },
  }
}
</script>

<style scoped>
  #app {
    display: flex;
  }

  .main {
    --main-w: 80vw;
    --main-h: 40vh;
    --fretboard-border-size: 1em;
    --fretboard-border-color: orange;
    --selected-color: darkgray;
    --tonic-txt-color: yellow;
    --tonic-bg-color: red;
    --cell-txt-color: black;
    --cell-bg-color: dimgray;
    --cell-border-color: red;
    --ctrls-bg-color: dimgray;
    --ctrls-bg-color-hover: gray;
    --select-bg-color: lightgray;
    --select-bg-color-hover: white;
    max-width: var(--main-w);
    max-height: var(--main-h);
    margin: auto;
  }

  .no-txt-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .menu-bottom {
    display: flex;
    justify-content: flex-end;
    padding-top: 1em;
  }

  @media only screen and (max-width: 600px) {
    .main {
      --main-w: 95vw;
      --main-h: 40vh;
    }

    #fretboard {
        font-size: 0.8em;
    }
  }

  @media only screen and (max-height: 400px) {
    .main {
      --main-h: 70vh;
    }
  }
</style>
